* {
    box-sizing: border-box;
}

body,
html {
    background: #ffffff;
    color: #4e5153;
    line-height: 1.6;
    font-family: "Comfortaa", cursive;
    font-weight: small;
    font-size: small;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-items: top;
    justify-content: center;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 0px;
    border-radius: 10px;
    border: 0.5px solid;
    border-color: #CCCCCC;
    margin-bottom: 10px;
}

.overallContainer {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-items: top;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hrStyle{
    height:2px;border-width:0;color:gray;background-color:gray;
}

.container {
    background-color: white;
}

/* Results Section */

.calculationResult {
    max-width: 1100px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fed700;
    display: grid;
    grid-template-columns: 10% 80%;
    text-align: center;
    min-height: 20px;
    border-radius: 100px;
}

.outputBoxRes {
    border-radius: 0px;
    padding: 0px 0px;
    background-color: #eceff1;
    border: 2px solid #eceff1;
    color: #4e5153;
    width: 100%;
}

output,
label {
    padding-bottom: 10px;
}

/* Side Bar */
.sideBanner {
    align-self: flex-start;
    align-content: top;
    align-items: top;
    margin-top: 0%;
    display: grid;
    row-gap: 10px;
}

.wrapper > * {
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    
}

.headerSection {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    min-height: 120px;
    font-size: medium;
}


.headerBreak {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: #fed700;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    min-height: 30px;
}

.howToUse {
    background: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
}

mark.colorPop {
    color: #fed700;
    background: none;
    font-weight: 200;
}

/* Inputs Section */
.resistorInput {
    background-color: teal\;;
}

.resistorInput {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    align-content: center;
}

.inputBoxRes {
    border-radius: 6px;
    padding: 8px 11px;
    background-color: white;
    border: 0.5px solid #CCCCCC;
    color: #4e5153;
    width: 60%;
    font-weight: normal;
}

.inputBoxRes2 {
    border-radius: 6px;
    padding: 8px 11px;
    background-color: #white;
    border: 0.5px solid #CCCCCC;
    color: #4e5153;
    width: 100%;
    font-weight: normal;
}

.sizeSelector {
    border-radius: 6px;
    padding: 8px 11px;
    background-color: #eceff1;
    border: 0.5px solid #CCCCCC;
    color: #4e5153;
    width: 25%;
    font-weight: normal;
}

input,
label {
    display: block;
}

/* Radio Section */
.resSetupParams {
    display: grid;
    grid-template-columns:30% 30% 30%;
    padding-bottom: 0;
    padding-top: 0;
    grid-column-gap: 20px;
    align-content: center;
    align-items: center;


}

.resSetupParamsLabel {
    display: grid;
    grid-template-columns: 33.333% 66.66%;
    padding-bottom: 0;
    padding-top: 0;
    grid-column-gap: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.centercenter {
    text-align: center;
    vertical-align: center;
}

input[type="radio"] {
    display: none;
}

.radio-label {
    position: relative;
    color: #fed700;
    font-size: 10x;
    border: 0.5px solid #fed700;
    border-radius: 50px;
    padding: 2px 35%;
    display: flex;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
}

.otherCalculatorBox{
    border-radius: 10px;
    border: 0.5px solid #CCCCCC;
    padding: 0%;
}

input[type="radio"]:checked + label {
    background-color: #fed700;
    color: white;
}

input[type="radio"]:checked + label:before {
    height: 10px;
    width: 10px;
    border: 10px solid white;
    background-color: #fed700;
    color: white;

}

.OutputResultFormatting {
    font-size: large;
    margin-top: 4px;
    margin-bottom: 4px;
}

.otherCalculators {
    background: #ffffff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    min-height: auto;
    padding: 0%;
    grid-column-gap: 20px;
}

.OtherCalculatorsText {
    background: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    padding: 0%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: left;
    min-height: 10px;
    font-weight: 200;
    font-size: x-large;
}

.otherCalculatorBox {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.otherCalculatorBox:hover {
    border: 0.5px solid #fed700 ;
}

.otherCalculatorButtons {
    border-radius: 50px;
    border: 0.5px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-decoration: none;
    padding: 4px;
}

.otherCalculatorButtons:hover {
    border: 0.5px solid #fed700 ;  
}

.learnButtons {
    border-radius: 50px;
    border: 0.5px solid #fed700;
    background-color: #fed700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-decoration: none;
    align-content: space-between;
    min-width: 200px;
}

.learnButtons:hover {
    background-color: white;;  
}

.sideBannerBox {
    border: 0.5px solid #cccccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 220px;
    max-height: 200px;
    text-align: center;
}

::placeholder {
    color: #CCCCCC;
}



/* The below styles occur when viewed on mobile */
@media (max-width: 700px) {
    .resistorInput {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 0px;
    }

    .howToUse {
        background: white;
        display: grid;
        grid-template-columns: 1fr;
    }
    .container {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding: 0em;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0px;
    }
    .otherCalculators {
        background: #ffffff;
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 0%;
        text-align: center;
        min-height: 150px;
        padding: 0%;
    }
    .sideBanner {
        display: none;
    }

    .radio-label {
        position: relative;
        color: #fed700;
        font-size: 10x;
        border: 2px solid #fed700;
        border-radius: 50px;
        padding: 2px 29%;
        display: flex;
        align-items: center;
        max-width: 100%;
        cursor: pointer;
        text-align: center;
    }
}
